dist: bionic
language: python

python:
  - '3.8'

addons:
  firefox: latest

branches:
  only:
    - staging
    - master

install:
  - pip3 install -r requirements.txt
  - pip3 install tchappui-webdrivers

before_script:
  - install-webdrivers

env: DJANGO_SETTINGS_MODULE="purbeurre_plateforme.settings.travis"

services:
  - postgresql

script:
  - python3 manage.py test functional_tests.selenium_fonc_tests search_and_sub user basics_screens
